{
	"presets": [
		["@babel/env", {
			"modules": false,
			"targets": {
				"node": "current",
				"firefox": 55,
				"chrome": 61,
				"safari": 10,
				"edge": 15
			}
		}]
	],
	"plugins": [
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		["@babel/plugin-proposal-class-properties", { "loose": true }],
		["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }],
		["@babel/plugin-proposal-do-expressions"]
	]
}
