@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('https://fonts.gstatic.com/s/ibmplexsans/v9/zYXgKVElMYYaJe8bpLHnCwDKhdHeFQ.woff2')
		format('woff2');
}
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('https://fonts.gstatic.com/s/ibmplexsans/v9/zYX-KVElMYYaJe8bpLHnCwDKhdTuF6ZJ.woff2')
		format('woff2');
}
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('https://fonts.gstatic.com/s/ibmplexsans/v9/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIFsdA.woff2')
		format('woff2');
}
@font-face {
	font-family: 'IBM Plex Serif';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('https://fonts.gstatic.com/s/ibmplexserif/v10/jizAREVNn1dOx-zrZ2X3pZvkTi2k_iI0q1s.woff2')
		format('woff2');
}
@font-face {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('https://fonts.gstatic.com/s/ibmplexmono/v7/-F63fjptAgt5VM-kVkqdyU8n1i8q1w.woff2')
		format('woff2');
}
@font-face {
	font-family: 'IBM Plex Sans Condensed';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('https://fonts.gstatic.com/s/ibmplexsanscondensed/v8/Gg8gN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHY4S7bvspYY.woff2')
		format('woff2');
}
@font-face {
	font-family: 'Waiting for the Sunrise';
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url('https://fonts.gstatic.com/s/waitingforthesunrise/v11/WBL1rFvOYl9CEv2i1mO6KUW8RKWJ2zoXoz5JsbZX_B4.woff2')
		format('woff2');
}
@font-face {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2')
		format('woff2');
}
:root {
	--color-paper: hsl(52.5, 80%, 98%);
	--color-paper: white;
	--color-type: hsl(30, 50%, 3%);
	--color-type-smear: #bda891;
	--color-pen: hsl(225, 45%, 41%);
	--color-pen-smear: hsla(225, 45%, 41%, 0.25);
	--color-bold: hsla(0, 100%, 32%, 0.85);
	--color-bold-smear: hsla(0, 100%, 32%, 0.35);
	--color-marker: hsla(60, 98%, 53%);
	--color-code: var(--color-type);
	--color-code-background: #f6f6f6;
	--font-size: 1rem;
	--font-size-code: 0.9rem;
	--line-height: 1.5rem;
	--line-height-code: calc(1.5rem * 0.9);
}
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
	all: unset;
	display: revert;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
*::selection {
	background-color: var(--color-marker);
	color: var(--color-type);
}
html {
	font-size: clamp(16px, 1.3vw, 24px);
}
body {
	background-color: var(--color-paper);
	color: var(--color-type);
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: var(--font-size);
	line-height: var(--line-height);
	font-weight: 400;
	hyphens: auto;
	padding: 9vw 6vw;
}
article {
	max-width: 69ch;
	margin: 0 auto;
}
p,
ol,
ul,
pre {
	margin-bottom: calc(var(--line-height) * 2);
}
ol,
ul {
	list-style: none;
}
ul li {
	display: block;
	padding-left: 1em;
	position: relative;
}
ul li:before {
	content: '*';
	color: var(--color-bold);
	text-shadow: 0 0 1px var(--color-bold-smear);
	vertical-align: bottom;
	position: absolute;
	top: 0.15em;
	left: 0;
}
h1 {
	font-family: 'Bebas Neue', serif;
	font-weight: 400;
	font-size: calc(var(--font-size) * 5.5);
	line-height: calc(var(--line-height) * 5.5);
	margin: 0 0 calc(var(--line-height) * 3) 0;
	text-indent: -0.03em;
}
h2 {
	font-family: 'IBM Plex Sans Condensed', serif;
	font-weight: 700;
	font-size: calc(var(--font-size) * 1.4);
	line-height: calc(var(--line-height) * 1.5);
	margin: calc(var(--line-height) * 2) 0 calc(var(--line-height) * 1);
}
a {
	color: royalblue;
	cursor: pointer;
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-thickness: 2px;
	text-decoration-color: transparent;
	font-weight: 600;
}
a:hover {
	text-decoration-color: royalblue;
}
strong {
	font-weight: 600;
}
em {
	font-style: italic;
}
code {
	font-family: 'IBM Plex Mono', monospace;
}
p code {
	color: var(--color-code);
	background-color: var(--color-code-background);
	padding: 0 0.25em 0.1em 0.25em;
	border: 1px solid rgba(0, 0, 0, 0.1);
	font-size: var(--font-size-code);
}
picture,
img {
	width: 100%;
	display: block;
}
picture {
	mix-blend-mode: multiply;
	transform: scaleX(-1);
}
figure {
	margin: 3em 0;
}
blockquote {
	font-family: 'Waiting for the Sunrise', sans-serif;
	font-weight: 400;
	font-size: 1.7rem;
	padding-right: 6vw;
	color: var(--color-pen);
	text-shadow: 0 0 2px var(--color-pen-smear);
	letter-spacing: 0;
	hyphens: none;
}
#cover {
	transition: opacity 0.125s linear;
	background-color: var(--color-paper);
	pointer-events: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* PrismJS 1.25.0
https://prismjs.com/download.html#themes=prism-solarizedlight&languages=markup+css+clike+javascript */
/*
 Solarized Color Schemes originally by Ethan Schoonover
 http://ethanschoonover.com/solarized

 Ported for PrismJS by Hector Matos
 Website: https://krakendev.io
 Twitter Handle: https://twitter.com/allonsykraken)
*/

/*
SOLARIZED HEX
--------- -------
base03    #002b36
base02    #073642
base01    #586e75
base00    #657b83
base0     #839496
base1     #93a1a1
base2     #eee8d5
base3     #fdf6e3
yellow    #b58900
orange    #cb4b16
red       #dc322f
magenta   #d33682
violet    #6c71c4
blue      #268bd2
cyan      #2aa198
green     #859900
*/

code[class*='language-'],
pre[class*='language-'] {
	color: #657b83; /* base00 */
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	tab-size: 4;
	hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
	overflow: auto;
	font-size: 0.9em;
	line-height: calc(1.5rem * 0.9);
	background-color: var(--color-code-background);
	border-radius: 3px;
	padding: calc(1.5rem * 0.9);
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #93a1a1; /* base1 */
}
.token.punctuation {
	color: #586e75; /* base01 */
}
.token.namespace {
	opacity: 0.7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #268bd2; /* blue */
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
	color: #2aa198; /* cyan */
}
.token.entity {
	color: #657b83; /* base00 */
	background: #eee8d5; /* base2 */
}
.token.atrule,
.token.attr-value,
.token.keyword {
	color: #859900; /* green */
}
.token.function,
.token.class-name {
	color: #b58900; /* yellow */
}
.token.regex,
.token.important,
.token.variable {
	color: #cb4b16; /* orange */
}
.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}
